 
 
 body{
     background-color: black;
 }
 div {
 margin-left: 9px;
 margin-top:  -10px;
 background-color:white;
 }
p { 
  font-size: 150px;
  color:black;
  
  
}div.scroll {
    background-color: #00FFFF;
    width: 800px;
    height: 1000px;
    margin-left:2590px;
    margin-top:-60;
    
}
 
img {
margin-left: 1200px; 
}


