
 body{
     background-color: black;
 }
div{
    background-color: white;
    height:400px;
    
}
p{
 font-size:75px;
 margin-left:90px;
}
h1{ 
    font-size: 150px;
    color:black;
}
div.scroll {
    background-color:white;
    width:600px;
    height:2500px;
    margin-bottom:500px;
    margin-left:5200px;
 
    overflow: scroll;
}
img {
   height:200px;
   width:150px;
   margin-top:10px;
   margin-left:170px;
}
hr {
  border: 0;
  border-top: 3px double black;
}

